.planing
*.planing
.gradle
**/.gradle
build
**/build
.idea
**/.idea
*.iml
.DS_Store
local.properties
**/local.properties
.kotlin
**/.kotlin
/output/
**/output/
.omc/
**/.omc/
/mpv-natives/
**/mpv-natives/
sentry.properties
**/sentry.properties
/composeApp/kcef-bundle/
**/composeApp/kcef-bundle/
test/
**/test/
scripts/
**/scripts/
testapps/
**/testapps/
testfrontend/
**/testfrontend/
